#admin-wrapper .navbar-collapse {
  padding: 15px !important;
}
.btn-group-xs>.btn, .btn-xs {
  border: none;
}
.news-main-page {
  margin-top: 50px;
}
.news-main-page h2 {
  font-size: 1.8em;
  color: #374A5B;
  margin-bottom: 40px;
}

.news-main-page section {
  margin-top: 20px;
  padding-left: 0;
  border-top: 1px solid #5c5c5c;
  border-bottom: none;
}
.news-main-page .pagination {

  border-top: 1px solid #5c5c5c;
}
.register-form input[type=text],
.register-form input[type=password],
.register-form input[type=email] {
  outline: none;
  border: 1px solid #374a5b;
  border-radius: 5px;
}
.forgotten-password-form input {
  outline: none;
  border: 1px solid #374a5b;
  border-radius: 5px;
}