<h2>
    {% if is_granted('ROLE_ADMIN') %}
        ESPACE ADMINISTRATION
    {% else %}
        ESPACE MON COMPTE
    {% endif %}
</h2>

<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') == "admin_page" %}active{% endif %}">
        <a href="{{ path('admin_page') }}">
            <i class="fa fa-home" aria-hidden="true"></i> <span> Accueil </span>
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "admin_profil" %}active{% endif %}">
        <a href="{{ path('admin_profil') }}">
            <i class="fa fa-home" aria-hidden="true"></i> <span> Mon profil </span>
        </a>
    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="{% if app.request.attributes.get('_route') == "user_index" %}active{% endif %}">
        <a href="{{ path('user_index') }}">
            <i class="fa fa-camera" aria-hidden="true"></i> <span> Membres </span>
        </a>
    </li>
    {% endif %}
    <li class="{% if app.request.attributes.get('_route') == "observation_index" %}active{% endif %}">
        <a href="{{ path('observation_index') }}">
            <i class="fa fa-camera" aria-hidden="true"></i> <span> Observations </span>
        </a>
    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="{% if app.request.attributes.get('_route') == "admin_news" %}active{% endif %}">
        <a href="#">
            <i class="fa fa-file-text" aria-hidden="true"></i> <span> Actualités </span>
        </a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="{% if app.request.attributes.get('_route') == "admin_newsletter" %}active{% endif %}">
        <a href="#">
            <i class="fa fa-at" aria-hidden="true"></i> <span> Newsletter </span>
        </a>
    </li>
    {% endif %}
</ul>