// AdminBundle/Resources/views/Admin/newsletter/index.html.twig

.index-newsletter-admin {
  width: 100%;
  margin: auto;
  @media #{$tablet} {
    width: 90%;
  }
  @media #{$desktop} {
    width: 75%;
  }
}

.index-newsletter-admin h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-bottom: 45px;
  }
}

.index-newsletter-admin #newsletter_wrapper {
  margin-bottom: 40px;
}

.index-newsletter-admin .btn-nlt {
  width: 100%;
  @media #{$tablet} {
    width: 50%;
    display: block;
    margin: auto;
  }
  @media #{$desktop} {
    width: 35%;
  }
}