// NewsBundle/Ressources/views/article/index.html.twig

.news-article-index {
  width: 100%;
  margin: auto;
  @media #{$tablet} {
    width: 90%;
    margin-bottom: 60px;
  }
  @media #{$desktop} {
    width: 75%;
    margin-bottom: 100px;
  }
}

.news-article-index h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-bottom: 45px;
  }
}