// NewsBundle/Ressources/views/article/show.html.twig

.news-article-show {
  width: 100%;
  margin: auto;
  @media #{$tablet} {
    width: 90%;
    margin-bottom: 60px;
  }
  @media #{$desktop} {
    width: 100%;
    margin: 0;
  }
}

.news-article-show h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-top: 0;
    margin-bottom: 45px;
  }
}

.news-article-show .actions .btn {
  width: 100%;
  margin-top: 20px;
  @media #{$tablet} {
    width: 45%;
  }
}

.news-article-show .actions .btn-warning {
  @media #{$tablet} {
    margin-right: 9%;
  }
}