// NewsBundle/Resources/views/article/edit.html.twig

.news-article-edit {
  width: 100%;
  margin: auto;
  @media #{$tablet} {
    width: 90%;
  }
  @media #{$desktop} {
    width: 100%;
    margin: 0;
  }
}

.news-article-edit h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-top: 0;
    margin-bottom: 45px;
  }
}

.news-article-edit .btn {
  width: 100%;
  margin-top: 20px;
  @media #{$tablet} {
    width: 45%;
    display: block;
    margin: 20px auto;
  }
}