{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}

    <div class="container error-page">

        <div class="svg-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 850.394 850.394" enable-background="new 0 0 850.394 850.394"
                 xml:space="preserve">
                <g>
                    <path class="circle" clip-path="url(#SVGID_2_)" fill="#384A5B" d="M685.73,394.031c0,143.361-116.219,259.578-259.579,259.578
                        c-143.361,0-259.58-116.217-259.58-259.578s116.218-259.579,259.58-259.579C569.512,134.452,685.73,250.67,685.73,394.031"/>
                    <g  clip-path="url(#SVGID_2_)">
                        <path  fill="none" d="M629.209,206.375C516.086,93.08,332.533,92.934,219.237,206.062
                            c-113.299,113.12-113.442,296.674-0.315,409.969c113.12,113.299,296.672,113.441,409.973,0.318
                            C742.189,503.226,742.33,319.673,629.209,206.375"/>
                    </g>
                    <g clip-path="url(#SVGID_2_)">
                        <polygon class="first-polygon" fill="#FFFFFF" points="579.22,401.682 412.044,245.41 406.215,395.78 		"/>
                        <polygon class="second-polygon" fill="#DCDCE5" points="229.89,262.676 412.044,245.41 406.14,418.412 324.331,346.126 		"/>
                        <polygon class="third-polygon" fill="#A3A7B2" points="237.009,295.774 258.254,287.74 330.234,351.339 		"/>
                        <polygon class="fourth-polygon" fill="#A3A7B2" points="406.139,418.411 450.75,514.118 456.416,540.46 388.051,620.18 		"/>
                        <polygon class="fifth-polygon" fill="#DCDCE5" points="579.22,401.682 450.75,514.117 406.138,418.41 406.909,395.802 		"/>
                        <polygon class="sixth-polygon" fill="#A3A7B2" points="577.703,425.86 579.22,401.683 450.75,514.118 		"/>
                        <polygon class="seventh-polygon" fill="#DCDCE5" points="597.013,306.16 510.938,337.856 579.22,401.682 		"/>
                        <polygon class="eighth-polygon" fill="#A3A7B2" points="640.866,337.542 597.014,306.16 589.095,348.675 		"/>
                    </g>
                </g>
            </svg>
        </div>


        <h2>
            Désolé, mais la page demandée est introuvable.
        </h2>


    </div>

{% endblock %}