{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

    <div class="col-sm-12 col-md-9">
        <div class="box box-default">
            <div class="box-header with-border"> <h3 class="box-title">Edition observation</h3> </div>
            <div class="well">
        {{ form_start(edit_form, {'attr': {'class': '', 'role': 'form'}}) }}
        <div class="box-body">
            {{ form_widget(edit_form) }}
        </div>
        <div class="box-footer">
            <input type="submit" value="Mettre à jour" class="btn btn-warning" />
        </div>
        {{ form_end(edit_form) }}
        </div>
    </div>

    <div class="actions">
        <a href="{{ path('observation_index') }}" class="btn btn-primary pull-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à la liste des observations
        </a>
    </div>
    </div>

{% endblock %}
