<h3>
    Confirmation demande de contact
</h3>

<hr>

<p> Bonjour {{ message.firstName }} {{ message.lastName }} ! </p>

<p> Votre demande de contact a bien été envoyée ! </p>

<p> Copie de votre message : </p> <p> {{ message.message }} </p>

<p> &nbsp; </p>

<p> Nous traiterons votre demande dans les plus brefs délais ! </p>

<p> Cordialement, </p>

<p> L'équipe Nos Amis les Oiseaux </p>