<h3>
    Une nouvelle demande de contact envoyée via votre site internet :
</h3>

<hr>

<p> Prénom de l'expéditeur : {{ message.firstName }} </p>

<p> Nom de l'expéditeur : {{ message.lastName }} </p>

<p> Adresse e-mail de l'expéditeur : {{ message.emailAddress }} </p>

<p> Message de l'expéditur : </p>

<p> {{ message.message }} </p>