<h3>
    L'expéditeur suivant vous a envoyé un message via votre site :
</h3>

<hr>

<ul>
    <li>Prénom de l'expéditeur : {{ message.firstName }}</li>
    <li>Nom de l'expéditeur : {{ message.lastName }}</li>
    <li>Adresse e-mail de l'expéditeur : {{ message.emailAddress }}</li>
    <li>Message de l'expéditur : {{ message.message }}</li>
</ul>