<h3>
    Confirmation d'inscription
</h3>

<hr>

<p> Bonjour  {{ user.username }} ! </p>

<p> Félicitations ! Votre inscription a bien été prise en compte ! </p>

<p> A bientôt sur notre site pour de nouvelles observations ! </p>

<p> Cordialement, </p>

<p> L'équipe Nos Amis les Oiseaux </p>