{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}

    <div class="container terms-page">

        <h2>
            Cookies
        </h2>

        <section>
            <hr />
            <p>
                Certaines informations nominatives et certains marqueurs témoins peuvent être enregistrées par le site nao.fr sur l'ordinateur personnel de l'internaute sans expression de la volonté de ce dernier (« cookies »). Sauf indication contraire explicite*, ces procédés techniques ne sont pas indispensables au bon fonctionnement du site nao.fr et leur utilisation peut bien entendu être désactivée dans le navigateur utilisé par l'internaute sans que sa navigation en soit affectée.
            </p>

            <p>
                Aucune de ces informations n'est conservée par le site après déconnexion de l'internaute.
            </p>

            <p>
                * Il est utile de préciser ici que les accès aux différents espaces privés du site peuvent nécessiter l'acceptation par l'internaute du dépôt d'un cookie sur son ordinateur personnel pour une question de sécurité.
            </p>
            <hr />
            <p class="pull-right">
                &copy; Nos Amis Les Oiseaux
            </p>
        </section>

    </div>
{% endblock %}