{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}


    <div class="container terms-page">

        <h2>
            Crédits & Remerciements
        </h2>

        <section>

            <hr />

            <p> <strong> Responsable de la publication : </strong> Michel DUJARDIN </p>

            <p> <strong> Direction de projet : </strong> Frédéric DUPRE, NB graphics </p>

            <p> <strong> Chef de projet : </strong> Natacha NOEL </p>

            <p> <strong> Conception éditoriale : </strong> Natacha NOEL et Jérémy SAWISKI </p>

            <p> <strong> Conception fonctionnelle et intégration graphique : </strong> Thomas DIMNET </p>

            <p> <strong> Maîtrise d'œuvre informatique et développement Symfony3 : </strong> Justine GAMBIER </p>

            <p> <strong> Rédaction des textes : </strong> Natacha NOEL et Jérémy SAWISKI </p>

            <p> <strong> Intégration des contenus : </strong> Justine GAMBIER et Thomas DIMNET </p>

            <p> <strong> Vidéo : </strong> Alexandre BOUDET </p>

            <hr />

            <p class="pull-right">
                &copy; Nos Amis Les Oiseaux
            </p>
        </section>

    </div>
{% endblock %}