{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block title %}
    Association Nos Amis Les Oiseaux - Accueil
{% endblock %}

{% block body %}
    <h2>
        L'association Nos Amis Les Oiseaux vous souhaitent la bienvenue
    </h2>
{% endblock %}