{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}


    <div class="container newsletter-form">
        <h2>
            S'inscrire à notre newsletter.
        </h2>
        {{ form_start(formNewsletter, {'attr': {'class': ''}}) }}
        {{ form_widget(formNewsletter) }}
        <input type="submit" value="Valider" class="btn btn-primary" />
        {{ form_end(formNewsletter) }}
    </div>

{% endblock %}