{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <section>
        <h2 class="text-center">
            Participez à un ambitieux programme de recherche
        </h2>
        <section class="row">
            <h3>Objectif du projet</h3>
            <p>
                Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.
                <br>
                Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem sumus), sic amicitiam non spe mercedis adducti sed quod omnis eius fructus in ipso amore inest, expetendam putamus.
            </p>
        </section>
        <hr>
        <section class="row">
            <h3>Qui peut participer ?</h3>
            <p>
                Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.
                <br>
                Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem sumus), sic amicitiam non spe mercedis adducti sed quod omnis eius fructus in ipso amore inest, expetendam putamus.
            </p>
        </section>
        <hr>
        <section class="row">
            <h3>Comment participer ?</h3>
            <p>
                Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.
                <br>
                Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem sumus), sic amicitiam non spe mercedis adducti sed quod omnis eius fructus in ipso amore inest, expetendam putamus.
            </p>
        </section>
        <hr>
        <div class="text-center">
            <button class="btn btn-default">
            {% if app.user %}
                <a href="{{ path('nb_graphics_front_site_submitobservation') }}">
                    Je poste une observation
                </a>
            {% else %}
            <a href="{{ path('fos_user_registration_register') }}">
                Je participe
            </a>
            {% endif %}
            </button>
        </div>
    </section>
{% endblock %}
