{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}

    <div class="container terms-page">

        <h2>
            Mentions légales
        </h2>

        <section>

            <hr />

            <div class="avertissement">

            <p> <strong> AVERTISSEMENT </strong> </p>
            <p> Ce site a été développé dans le cadre d’un projet d’école <a href="https://openclassrooms.com/projects/gerez-un-projet-multimedia-en-equipe-specialite-developpement" target="_blank">(projet 6 - OpenClassRooms)</a> pour tester la mise en place d’une plateforme collaborative. Les éléments qui le constituent sous soumis aux mêmes droits qu’un site propriétaire. </p>
            <p> Toutes les informations contenues dans les pages ont été soit inventées pour les besoins du projet, soit fournies gracieusement par des photographes ou ornithologues professionnels et amateurs.</p>
            <p> Le programme de recherche et la réalisation de statistiques pour celui-ci sont fictifs, il n’y aura aucune analyse des données. </p>

            </div>

            <hr />

            <p> <strong>Objet du site </strong> </strong> </p>
                Plateforme collaborative d’observations des oiseaux en Francemétropolitaine et départements et territoires d’Outre-Mer
            </p>

            <hr />

            <p> <strong>Propriétaire/Editeur </strong> </p>
                Association NAO  <br />
                association loi 1901 à but non lucratif  <br />
                1, boulevard des Hirondelles – 03200 VICHY

            </p>

            <hr />

            <p> <strong>Directeur de la publication </strong> </p>
                Monsieur M. Dujardin
            </p>

            <hr />

            <p> <strong>Développement </strong> </p>
            <p>
                NB Graphics – 54 rue de Tivoli – 18000 BOURGES <br />
                SA au capital de 15000 euros <br />
                Inscrite au Registre du Commerce et des Sociétés de Bourges sous le numéro 513 749 2300

            </p>

            <hr />

            <p> <strong>Hébergement </strong> </p>
            <p>
                o2switch – 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand <br />
                SARL au capital de 100000€ <br />
                RCS : Clermont-Ferrand <br />
                SIRET : 510 909 80700024 <br />
                TVA : FR35510909807
            </p>

            <hr />

            <p> <strong>Droits d’auteur/droits à l’image </strong> </p>
            <p> Alexandre Boudet pour la vidéo d’accueil <br />
                Photographes à citer pour les photos d’observations sur test initial [à venir]
            </p>

            <hr />

            <p> <strong>Fonctionnement du site</strong>  </p>
            <p> Les pages et le contenu de ce site sont générés par le frameworkSymfony 3, distribué sous licence MIT, c’est à dire libre et open source, non copyleft, permettant donc d'inclure des modifications sous d'autres licences, y compris non libres. </p>
            <p> Vous pouvez l’utiliser librement pour réaliser votre propre site internet. Pour plus d’informations, reportez-vous au site : <a href="http://www.symfony.com" target="_blank">www.symfony.com</a> </p>

            <hr />

            <p> <strong> Contenu et droits de reproduction </strong> </p>
            <p> En application des articles L. 111-1 et L. 123-1 du Code de la Propriété Intellectuelle, l'ensemble des contenus de ce site (textes, images, vidéos et tout média en général), sauf mention contraire explicite, est protégé par le droit d'auteur.</p>
            <p> La reproduction, même partielle, des contenus des pages de ce site sans accord préalable de NAO (Nos Amis les Oiseaux) est strictement interdite. </p>

            <hr />

            <p> <strong> Conditions d'utilisation</strong><br />Acceptation de fait </p>
            <p> En utilisant le site nao.fr, l'internaute prend note et accepte les conditions ici énumérées. </p>

            <hr />

            <p> <strong> Abus</strong> </p>
            <p> En application de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, pour signaler un contenu litigieux ou si vous êtes victime d'une utilisation frauduleuse du site nao.fr, merci de contacter l'administrateur du site à l'adresse courriel : <a href="mailto:info@nao.fr">info@nao.fr</a> </p>

            <hr />

            <p> <strong>Collecte et traitement de données personnelles</strong> </p>
            <p> Les informations éventuellement recueillies par le site nao.fr ne sont jamais communiquées à des tiers. Sauf cas particulier, ces informations proviennent de l'enregistrement volontaire d'une adresse courriel fournie par l'internaute, lui permettant de recevoir une documentation ou une newsletter ou de se renseigner sur un point quelconque. </p>
            <p> En application de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, l'internaute dispose d'un droit d'accès, de rectification et de suppression des informations personnelles le concernant stockées par le site nao.fr, qu'il peut exercer à tout moment auprès de l'administrateur du site nao.fr. Pour une demande de ce type, veuillez adresser un courrier à la NAO ou contacter l'adresse courriel : <a href="mailto:info@nao.fr">info@nao.fr</a> </p>

            <hr />

            <p> <strong> Limitation de responsabilité</strong> </p>
            <p> Le contenu mis à disposition sur ce site est fourni à titre informatif. Il appartient à l'internaute d'utiliser ces informations avec discernement. La responsabilité de NAO ne saurait être engagée de fait quant aux informations, opinions et recommandations formulées par des tiers. </p>
            <p> Dans la mesure où NAO ne peut contrôler ces sites ou sources externes, elle ne peut être tenu pour responsable de la mise à disposition de ces sites ou sources externes et ne peut supporter aucune responsabilité quant aux contenus, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites ou sources externes. De plus, NAO ne pourra être tenu responsable de tous dommages ou pertes avérés ou allégués consécutifs ou en relation avec l'utilisation ou le fait d'avoir fait confiance au contenu, à des biens ou des services disponibles sur ces sites ou sources externes.

            </p>

            <hr />

            <p class="pull-right">
                &copy; Nos Amis Les Oiseaux
            </p>
        </section>

    </div>
{% endblock %}