.contact-us-form {
  margin-top: 40px;
  @media #{$tablet} {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$desktop} {
    width: 45%;
  }
}

.contact-us-form .form-group:last-of-type {
  margin-top: 30px;
}

.contact-us-form #contact_form_captcha {
  margin-top: 10px;
}

.contact-us-form label,
.contact-us-form input,
.contact-us-form textarea {
  cursor: pointer;
  transition: .4s;
  outline: none;
}

.contact-us-form input:hover,
.contact-us-form textarea:hover {
  border: 1px solid #374a5b;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
  border-color: #374a5b;
  outline-color: #374a5b;
}

.contact-us-form .btn {
  color: #fff;
  width: 100%;
}