// Home page wrapper
.home-page-wrapper {
  @media (max-width: 1024px) {
    background: url('../../images/owl.jpg');
    padding-top: 400px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  @media #{$desktop} {
    position: relative;
    text-align: center;
  }
}

.video {
  display: none;
  @media #{$desktop} {
    display: initial;
    width: 100%;
  }
}

.home-page-wrapper h2 {
  font-size: 1.8em;
  color: #ddd;
  margin: 0;
  @media #{$desktop} {
    color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 340px;
    font-size: 3em;
  }
}

.home-page-wrapper p {
  width: 60%;
  margin: 20px auto;
  @media #{$tablet} {
    width: 35%;
  }
  @media #{$desktop} {
    width: 25%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 450px;
  }
}

.home-page-wrapper p a {
  display: block;
  padding: 16px;
  font-size: 1.4em;
  letter-spacing: .12em;
  background-color: #374a5b;
  color: #fff;
  transition: .5s;
  border-radius: 10px;
}

.home-page-wrapper p a:hover {
  box-shadow: 0 0 50px black;
  text-shadow: 0 0 5px #FFF;
  @media #{$desktop} {
    box-shadow: none;
    text-shadow: none;
    color: #374a5b;
    background-color: #fff;
  }
}
