// Observation Form Container
.observation-form-container {
  width: 100%;
  margin: auto;
  @media #{$tablet} {
    width: 70%;
  }
}

.observation-form-container h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.observation-form-container fieldset {
  border: none;
  padding: 0;
}

.observation-form-container fieldset legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.observation-form-container fieldset label {
  font-weight: lighter;
  font-size: 1.1em;
}

.observation-form-container form input,
.observation-form-container form select,
.observation-form-container form textarea {
  width: 100%;
  margin: 10px 0 20px;
  cursor: pointer;
  transition: .4s;
}

.observation-form-container input:hover,
.observation-form-container select:hover,
.observation-form-container textarea:hover {
  border: 1px solid #374a5b;
}

.observation-form-container input:focus,
.observation-form-container select:focus,
.observation-form-container textarea:focus {
  border-color: #374a5b;
  outline-color: #374a5b;
}

.observation-form-container input:read-only {
  cursor: default;
}

.observation-form-container #map {
  height: 300px;
  width: 100%;
}

.observation-form-container form .btn {
  width: 100%;
  @media #{$tablet} {
    width: 50%;
    margin: auto;
    display: block;
  }
}