<li class="dropdown {% if active %} {{ active }} extended open {% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Actualités <span class="caret"></span>
        <i class="fa fa-file-text pull-right hidden-xs showopacity" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu forAnimate" role="menu">
        <li>
            <a
                    class="{% if app.request.attributes.get('_route') == "admin_article_index" %}selected{% endif %}"
                    href="{{ path('admin_article_index') }}"
            >
                <span> Liste </span>
            </a>
        </li>
        <li>
            <a
                    class="{% if app.request.attributes.get('_route') == "admin_article_new" %}selected{% endif %}"
                    href="{{ path('admin_article_new') }}"
            >
                <span> Ajouter </span>
            </a>
        </li>
    </ul>
</li>