{% extends 'NBGraphicsFrontSiteBundle::frontBaseElements.html.twig' %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

    <div class="container news-article-new">

        <h2>Nouvelle actualité</h2>

        {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-success" />
        {{ form_end(form) }}


        <div class="actions">
            <a href="{{ path('admin_article_index') }}" class="btn btn-primary pull-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à la liste des actualités
            </a>
        </div>

    </div>

{% endblock %}