{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container check-email">
        <h2>Informations</h2>
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock body %}
