{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <div class="container register-form">
        <h2>Inscription</h2>
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock body %}
