// General Settings
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #374a5b;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

// Clearfix hack
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
