#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

#overlayImgContainer {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 30px 10px;
  @media #{$tablet} {
    width: 80%;
  }
  @media #{$desktop} {
    width: 45%;
  }
}

#overlayImgContainer img {
  max-width: 100%;
  max-height: 450px;
  display: block;
  margin: auto;
}

#overlayImgContainer p {
  margin-top: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
}