// app/Resources/TwigBundle/views/Exception/error404.html.twig

//
  // Keyframes
//
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error-page {
  width: 100%;
  margin: 40px auto;
  @media #{$tablet} {
    width: 70%;
  }
  @media #{$desktop} {
    width: 55%;
  }
}

.error-page h2 {
  text-align: center;
  font-size: 1.4em;
  margin-top: -60px;
  margin-bottom: 100px;
  @media #{$tablet} {
    font-size: 1.6em;
  }
  @media #{$desktop} {
    font-size: 1.8em;
  }
}

.error-page .svg-icon {
  max-width: 350px;
  margin: auto;
}

.error-page .svg-icon svg {
  max-width: 100%;
}



// The blue circle
.circle {
  animation: apparition .8s .5s linear backwards;
}

// The polygon
.first-polygon {
  animation: apparition .8s 1.5s linear backwards;
}

.second-polygon {
  animation: apparition .8s 2.5s linear backwards;
}

.third-polygon {
  animation: apparition .8s 3.5s linear backwards;
}

.fourth-polygon {
  animation: apparition .8s 4.5s linear backwards;
}

.fifth-polygon {
  animation: apparition .8s 5.5s linear backwards;
}

.sixth-polygon {
  animation: apparition .8s 6.5s linear backwards;
}

.seventh-polygon {
  animation: apparition .8s 7.5s linear backwards;
}

.eighth-polygon {
  animation: apparition .8s 8.5s linear backwards;
}