.forgotten-password-form {
  width: 100%;
  @media #{$tablet} {
    width: 70%;
    margin-top: 20px;
  }
  @media #{$desktop} {
    width: 45%;
  }
}

.forgotten-password-form input {
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #374a5b;
}

.forgotten-password-form .btn {
  margin-top: 40px;
  color: #fff;
  width: 100%;
}

