// Interactive Web Map
.interactive-web-map {
  margin-top: 40px;
}

.interactive-web-map h3 {
  text-align: center;
  margin-top: 40px;
}

.interactive-web-map #search,
.interactive-web-map .searchMap form {
  width: 100%;
  @media #{$tablet} {
    width: 70%;
    margin: auto;
  }
  @media #{$desktop} {
    width: 80%;
    margin: auto;
  }
}

.interactive-web-map .searchForm {
  display: flex;
  flex-direction: column;
  @media #{$desktop} {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.interactive-web-map .btn-warning {
  width: 100%;
  @media #{$desktop} {
    width: 33%;
  }
}

.interactive-web-map .reinit-search {
  @media #{$desktop} {
    border-top: 1px solid #5c5c5c;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
  }
}

@media #{$desktop} {
  .interactive-web-map .searchForm .form-group:first-child,
  #nbgraphics_corebundle_criteria_maps .form-group:first-child {
    width: 35%;
  }
  .interactive-web-map .searchForm .form-group:last-child,
  #nbgraphics_corebundle_criteria_maps .form-group:nth-of-type(3) {
    width: 35%;
  }
}

.interactive-web-map #btnSearch {
  width: 100%;
  @media #{$desktop} {
    width: 60%;
    margin: 50px auto 0;

    display: block;
  }
}

#nbgraphics_corebundle_criteria_maps {
  display: flex;
  flex-direction: column;
  @media #{$desktop} {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}


.interactive-web-map .searchMap form #btnGeoloc {
  width: 100%;
}

.map-container #map {
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}