#landing-page-a .navbar-inverse {
  background-color: #374A5B;
  border-color: #374a5b;
  padding-bottom: 30px;
}

#landing-page-a .navbar-nav {
  float: none;
  margin-top: 20px;
}

#landing-page-a .title {
  font-size: 2em;
}

#landing-page-a .navbar-nav .icon {
  float: right;
}