#admin-wrapper {
  @media #{$desktop} {
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    align-items: baseline;
    min-height: calc(100vh - 230px);
    width: 98%;
    margin: auto;
  }
}
