// Main Footer
.main-footer {
  margin-top: 30px;
  padding: 10px;
  background-color: #2c3e50;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  @media #{$desktop} {
    flex-direction: row-reverse;
    padding: 10px 20px;
  }
}

.main-footer section {
  border-top: 1px solid #bbb;
  position: relative;
  @media #{$desktop} {
    width: 32%;
    border-top: none;
    border-left: 1px solid #bbb;
    margin-left: 10px;
    padding-left: 10px;
  }
}

.main-footer section:last-child {
  border-top: none;
  @media #{$desktop} {
    border-left: none;
  }
}

.main-footer section:last-child h3 {
  text-align: center;
}

.main-footer section h3 {
  text-align: left;
  font-size: 1em;
  @media #{$tablet} {
    text-align: center;
  }
}

.main-footer section img {
  height: 30px;
  position: absolute;
  right: 0;
  top: 13px;
  opacity: .7;
  cursor: pointer;
  @media #{$tablet} {
    display: none;
  }
}

.main-footer section img:hover {
  opacity: 1;
}

.main-footer section ul {
  display: none;
  @media #{$tablet} {
    display: flex !important;
    justify-content: center;
  }
}

.main-footer .links li,
.main-footer .social-links li {
  @media #{$tablet} {
    margin-right: 10px;
  }
}

.main-footer section p {
  text-align: center;
  font-size: .9em;
}

.main-footer section a {
  color: #fff;
  font-size: .9em;
  opacity: .7;
}

.main-footer section a:hover {
  opacity: 1;
}
