// AdminBundle/Resources/views/Admin/user/delete.html.twig

// AdminBundle/Resources/views/Account/observation/delete.html.twig

.delete-user-admin {
  text-align: center;
  @media #{$desktop} {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.delete-user-admin h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
}

.delete-user-admin .actions {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #5c5c5c;
}