// AdminBundle/Resources/views/Common/index.html.twig
.index-back-end {
  @media #{$desktop} {
    width: 70%;
  }
}

.index-back-end h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$tablet} {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$desktop} {
    margin-top: 0;
  }
}

.index-back-end .info-group {
  margin-top: 10px;
  @media #{$tablet} {
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.index-back-end .info-group .info-box-container {
  @media #{$tablet} {
    width: 50%;
    padding: 0 10px;
  }
}

.index-back-end .info-group .info-box-container .info-box {
  transition: .4s;
}

.index-back-end .info-group .info-box-container .info-box:hover {
  background-color: #F7F5F0;
}

.index-back-end .description {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
}