// AdminBundle/Resources/views/Admin/observation/moderate.html.twig

.moderate-observation-admin {
  width: 100%;
  margin: auto;
  @media #{$tablet} {
    width: 90%;
  }
  @media #{$desktop} {
    width: 100%;
    margin: 0;
  }
}

.moderate-observation-admin h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-top: 0;
    margin-bottom: 45px;
  }
}

.moderate-observation-admin .actions {
  @media #{$tablet} {
    border-top: 1px solid #5c5c5c;
  }
}