// AdminBundle/Resources/views/Admin/user/new.html.twig

.new-user-admin {
  width: 100%;
  @media #{$tablet} {
    width: 90%;
    margin: auto;
  }
}

.new-user-admin h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-top: 0;
  }
}

.new-user-admin input[type=submit],
.new-user-admin .actions .btn {
  width: 100%;
  margin-top: 20px;
  @media #{$tablet} {
    width: 45%;
    display: block;
    margin: 20px auto;
  }
}

.new-user-admin .actions {
  @media #{$tablet} {
    border-top: 1px solid #5c5c5c;
  }
}