// AdminBundle/Resources/views/Account/observation/show.html.twig

.observation-card {
  margin-bottom: 70px;
}

.observation-card h2 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5c5c;
  margin-top: 60px;
  margin-bottom: 20px;
  @media #{$desktop} {
    margin-top: 0;
  }
}