{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <div class="container connexion-form">
    <h2>Connexion</h2>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
{% endblock body %}
