{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <h2>
        Vous souhaitez soumettre une observation ?
    </h2>
    <div>
        {{ form_start(observationForm) }}
            {{ form_widget(observationForm) }}
            <button type="submit">
                Valider votre observation
            </button>
        {{ form_end(observationForm) }}
    </div>
{% endblock %}