{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container check-email">
        <h2>Informations</h2>
        <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
    </div>
{% endblock %}
