{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <div class="container reset">
        <h2>Définir un nouveau mot de passe</h2>
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </div>
{% endblock %}
