{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <div class="container">
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </div>
{% endblock %}
