{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}


    <div class="col-sm-12">
        <div class="col-md-2">
            {% if article.image is not null %}
                <img src="{{ asset('uploads/img_article/' ~ article.image.url) }}" />
            {% else %}
                <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="margin: 20px;"></i>
            {% endif %}
        </div>
        <div class="col-md-10">
            <h2> {{ article.title }} </h2>
            <p> {{ article.content|nl2br }} </p>
        </div>
    </div>

    <div class="actions">
        <a href="{{ path('article_list') }}" class="btn btn-primary pull-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à la liste des actualités
        </a>
    </div>

{% endblock %}