{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

    <div class="container common-profile-password">

        <h2>Edition profil</h2>
        {{ form_start(form, { 'action': path('admin_user_password',{ 'id': entity.id }), 'attr': { 'class': 'fos_user_profile_password' } }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


        <div class="actions">
            <a href="{{ path('admin_profil') }}" class="btn btn-primary pull-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à mon profil
            </a>
        </div>

    </div>

{% endblock %}