{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <h2>
        Bienvenue sur notre carte intéractive
    </h2>

    <section id="search">
    <h3>Rechercher un oiseau</h3>
    {{ form_start(searchForm, {'attr': {'class': '', 'role': 'form'}}) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
    </section>

    {% if results %}
        <h2>Voici vos résultats :</h2>
        <p>
            Le plein de résultats ici !
        </p>
    {% endif %}
{% endblock%}