{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

        <div class="container edit-user-admin">

        <h2>Edition utilisateur</h2>

        {{ form_start(edit_form, {'attr': {'class': '', 'role': 'form'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Mettre à jour" class="btn btn-warning" />
        {{ form_end(edit_form) }}

        <div class="actions">
            <a href="{{ path('admin_user_index') }}" class="btn btn-primary pull-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;
                Retour à la liste des membres
            </a>
        </div>

    </div>

{% endblock %}
