{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

    <div class="col-sm-12 col-md-9">
    <div class="box box-default">
    <div class="box-header with-border"> <h3 class="box-title">Nouvel utilisateur</h3> </div>
    <div class="box-body box-new">
    <div class="well">
    {{ form_start(form, {'attr': {'class': ''}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-primary" />
    {{ form_end(form) }}
    </div>

    <p> <a href="{{ path('user_index') }}" class="btn btn-default">Retour à la liste des membres</a> </p>
    </div>
    </div>
    </div>

{% endblock %}