{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    <div id="admin-wrapper">

        {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

        <div class="container new-user-admin">

            <h2>Nouvel utilisateur</h2>

            {{ form_start(form, {'attr': {'class': ''}}) }}
            {{ form_widget(form) }}
            <input type="submit" value="Créer" class="btn btn-primary" />
            {{ form_end(form) }}


            <div class="actions">
                <a class="btn btn-info pull-left" href="{{ path('admin_user_index') }}" >Retour à la liste des membres</a>
            </div>

        </div>

    </div>

{% endblock %}